/* GLOBAL STYLES */

html {
    height: auto;
    width: auto;
}

* {
    box-sizing: border-box;
}

body {
    padding-top: 60px;
    background-color: #F2F2F2;
}

.container {}

@media only screen and (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

.logo :hover, nav a :hover, .login:hover {
    filter: brightness(500%);
}

header a {
    font-family: 'Roboto', sans-serif;
}

nav a {
    font-size: 20px;
}

.search {
    margin-right: 3%;
}

.login {
    filter: brightness(70%);
}

.carousel {
    margin-bottom: 4rem;
}

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

footer p {
    margin-bottom: 8%;
}

/*jumbotron*/

.jumbotron {
    margin-top: 5%;
}

@media only screen and (max-width: 976px) {
    .jumbotron {
        margin-top: 15%;
    }
}

@media only screen and (max-width: 768px) {
    .jumbotron {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 576px) {
    .jumbotron {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 470px) {
    .jumbotron {
        margin-top: 25%;
    }
}

ul.nav-pills {
    position: fixed;
}

div.col-8 div {
    height: 500px;
}

.nav-pills {
    margin-top: 3%;
    background-color: white !important;
}