/* GLOBAL STYLES */

html {
    height: auto;
    width: auto;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    padding-top: 60px;
    background-color: #F2F2F2;
}

@media only screen and (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

.logo :hover, nav a :hover, .login:hover {
    filter: brightness(500%);
}

header a {
    font-family: 'Roboto', sans-serif;
}

nav a {
    font-size: 20px;
}

.search {
    margin-right: 3%;
}

.login {
    filter: brightness(70%);
}

.carousel {
    margin-bottom: 4rem;
}

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

footer p {
    margin-bottom: 8%;
}

.searchbar {
    margin-top: 5%;
    border: black;
    text-decoration: none;
}

.searchbar::after {
    text-decoration: none !important;
}

.fa, .fa-search {
    color: inherit;
}

@media only screen and (max-width: 976px) {
    .searchbar {
        margin-top: 15%;
    }
}

@media only screen and (max-width: 768px) {
    .searchbar {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 576px) {
    .searchbar {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 470px) {
    .searchbar {
        margin-top: 25%;
    }
}

/*dropdown left*/

.wrap {
    margin-top: 10%;
    line-height: 1.15;
}

.list {
    padding: 0;
    font-size: 15px;
    font-size: 1.125rem;
    list-style: none;
}

.list li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid;
    background: #3e3f44;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
    -webkit-filter: dropshadow(color=#000, offx=1, offy=0);
    filter: dropshadow(color=#000, offx=1, offy=0);
    padding: 5px;
    padding-left: 20px;
    border-radius: 2px;
}

.item {
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    list-style: none;
    transition: 0.7s;
}

.item li a {
    background: white;
    font-size: 14px;
    font-size: 0.875rem;
    color: #47689d;
    text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.5);
    -webkit-filter: dropshadow(color=#000, offx=1, offy=0);
    filter: dropshadow(color=#000, offx=1, offy=0);
}

.item li a:hover {
    background: #e7e3e3;
}

.list li:hover .item1 {
    height: 29px;
}

.list li:hover .item2 {
    height: 115px;
}

.list li:hover .item3 {
    height: 260px;
}

.active {
    transition: 0.2s;
    background: #3fa6fd;
    color: #fff;
}

.dropdown:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    right: 16px;
    transform: rotate(45deg);
    top: 16px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transition: 0.4s;
}

/*dropdown center*/

.dropdown2 {
    margin: 3% 0;
}

/*border*/

.card-img-top {
    height: 60%;
    padding-top: 5%;
}

.card {
    height: 110%;
    width: 490px;
}

.box {
    border: 3px solid black;
    color: white;
    background-color: black;
    padding: 5px;
}